@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;

}

#watchbox{
    min-height: 400px;
    min-width: 400px;
  
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
}